.product-tile__button {
  color: #fff;
  border-radius: 15px;
  /* padding: 20px; */
  font-size: 100%;
  aspect-ratio: 4 / 3;
}
.product-tile__image{
  height:10vh;
  width:10vw;
}

/* @media (min-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
} */
