.product-tile__image{
  height:15vh;
  width:15vw;
}
/* .product-tile__name{
  text-decoration:none;
  color:black;
  text-align:center;
}*/

/* .product-tile__image{
  border:5px solid black;
} */

/* @media (min-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
} */
