.navigation__list{
    display: flex;
    justify-content: space-around;
    background-color:#dcd4d4;
    padding:1em;
    font-weight: bold;
}
.navigation__link{
    text-decoration:none;
    color:black;
    /* margin-bottom: 20px; */
    
}
