.navigation__list {
    display: flex;
    justify-content: space-around;
    background-color: #dcd4d4;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.navigation__link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}


@media (max-width:800px) {
    .navigation__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
