.header__banner{
    background-image:url('../../assets/img/0076orez.png');
    background-position:center; 
    background-size:100% 100%;
    background-repeat:no-repeat;
    object-fit: cover;
    height:20vh;
}
.header__title{
    color:white;
    text-align:center;
}
.header__back{
    background-color:brown;
    display: inline-block;
    opacity:0.4;
} 