/* .footer{
    position:fixed;
    bottom:0;
    width:100%;
    background-color:seashell;
}
.footer__link{
    display: flex;
    text-decoration:none;
    color:black;
    font-weight: bold;
} */

.footer {
  /* position: fixed;  */
  background-color: lightcoral;
  font-weight: bold;
  bottom: 0;
  width: 100%;
  height: 20vh;
}

.footer__navbar {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  gap: 30px;
  margin: 20px;
}

.footer__link1 {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.footer__link1:nth-child(2) {
  margin-top: 20px;
}

.footer__link2 {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.footer__link2:nth-child(2) {
  margin-top: 20px;
}

.footer__link3 {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.footer__link3:nth-child(2) {
  margin-top: 20px;
}
